<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>React 使用 JSX 来替代常规的 JavaScript。</title>
		<script src="https://cdn.bootcss.com/react/15.4.2/react.min.js"></script>
		<script src="https://cdn.bootcss.com/react/15.4.2/react-dom.min.js"></script>
		<script src="https://cdn.bootcss.com/babel-standalone/6.22.1/babel.min.js"></script>
	</head>

	<body>
		<div id="example1"></div>
		<div id="example2"></div>
		<div id="example3"></div>
		<div id="example4"></div>
		<script type="text/babel">
			ReactDOM.render(
				<div>
					<h1>{1+1}</h1>
				</div>,
				document.getElementById('example1')
			);
			var i=1;
			ReactDOM.render(
				<div>
					{/*在jsx中不可以使用if-else,当可以使用三元表达式*/}
					<h1>{i===1? "TRUE":"FALSE"}</h1>
				</div>,
				document.getElementById('example2')
				
			);
			var myStyle={
				fontSize:100,
				color:'#FF0000'
			}
			ReactDOM.render(
				<h1 style={myStyle}>菜鸟教程</h1>,
				document.getElementById('example3')
			);
			var arr=[
				<h1>菜鸟教程</h1>,
				<h2>学的不仅是技术,更是梦想!</h2>
			];
			ReactDOM.render(
				<div>{arr}</div>,
				document.getElementById('example4')
			);
		</script>
	</body>

</html>